.container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  font-family: Arial, sans-serif;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 5px;
    position: relative;
    margin-top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background: #27354b;
    padding: 20px;
    border-radius: 5px;
    color: white;
}
.btn{
    padding: 20px;
}

h1 {
    font-size: 32px;
    margin: 0;
}


.back-btn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.no-trips {
  text-align: center;
  color: #555;
}

.budget-suggestions {
  margin-top: 10px;
}

.suggestion {
  background-color: #f0f0f0;
  padding: 6px 12px;
  border-radius: 5px;
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
}

.suggestion:hover {
  background-color: #007bff;
  color: white;
}

.trip-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.trip-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.trip-card:hover {
  transform: scale(1.03);
}

.trip-image {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
}

.trip-info {
  padding: 15px;
  h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
  }
  p {
    margin: 2px 0;
    color: #555;
  }
}
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 30px;
  background-color: #1e293b;
  color: white;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.nav-links a:hover {
  color: #38bdf8;
}
.footer {
  background-color: #1e293b; /* dark blue like navbar */
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  height: 300px;
}

.footer-content {
  max-width: 1000px;
  margin: auto;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  color: #38bdf8;
}
.title{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  
}

